@{
  Layout = "_Layout";
}

@using EauSalon.Models
@model List<EauSalon.Models.Stylist>

<h1>EauSalon's Stylists</h1>

@if(@Model.Count == 0)
{ 
  <div class="notice">
    <p>There are currently no records of any Stylists at EauSalon.</p>
    <p>If you'd like to add a Stylist to your records, click on the link below.</p>
  </div>
  <p class="linked">@Html.ActionLink("Add an EauSalon Stylist to your records", "Create", "Stylists")</p>
}
else
{
  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.Name}", "Details", new {id = stylist.StylistId})</li>
  }
  <div class="linked">
    <p>@Html.ActionLink("Add an EauSalon Stylist to your records", "Create", "Stylists")</p>
    <p>@Html.ActionLink("Add a new record for an EauSalon client", "Create", "Clients")</p>
  </div>
}

