body {
  position: relative;
  text-align: center;
  color: #FFF;
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #333;
  padding: 15px;
  margin-bottom: 0;
}

.linked {
  color: #333;
  font-size: 2em;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}


