<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EauSalon Organizer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      @RenderBody()
      <footer>
        <p>@Html.ActionLink("Home", "Index", "Home")</p>
        <p>@Html.ActionLink("Background image by Raphael Lovaski on Unsplash", "https://unsplash.com/@raphaellovaski?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText", "https://unsplash.com/s/photos/salon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText")</p>
      </footer>
    </div>
  </body>
</html>