@{
  Layout = "_Layout";
}

@using EauSalon.Models;
@model List<EauSalon.Models.Stylist>

<h1>EauSalon's Stylists</h1>

@if(@Model.Count == 0)
{
  <p class="notice">There is currently no record of any Stylists at EauSalon. If you'd like to add a Stylist to your records, click on the link below.</p>
  <p class="linked">@Html.ActionLink("Add an EauSalon Stylist to your records", "Create", "Cuisine")</p>

}